<div style="font-family:Helvetica,Arial,sans-serif;width:150px;text-align:center;padding:12px 0;background-color:#13aa52;border:1px solid #517b39;border-radius:8px;display:block;color:#ffffff;font-size:14px;font-weight:normal;text-decoration:none;letter-spacing:normal">Confirm Account</div>
<!-- The Protege Effect -->